
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  margin-bottom: 10px;
  h1{
    height: 125px;
    border-bottom: 1px solid black;
    font-family: "Graphik Web";
    color: #f45800;
  }
}
